{{> authStyle}}

<script src="/js/signup.js"></script>

<div class="card mx-auto d-block" style="width: 36rem; margin-top: 80px">
  <h5 class="card-header text-center">SIGN UP</h5>
  <div class="card-body">

    <form class="signup">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" class="form-control" id="fullName" placeholder="Full Name">
      </div>
      <div class="form-group">
        <label for="roleSelect">Sign up as </label>
        <select class="form-control" id="roleSelect">
          <option value="">Choose one</option>
          <option value="vendor">Vendor</option>
          <option value="translator">Translator</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="password2">Retype password</label>
        <input type="password" class="form-control" id="password2" placeholder="Password">
      </div>
      <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>
      <button id="submitForm" style="float: left" type="submit" class="btn btn-primary">SIGN UP</button>
      <p style="display: block; width: 200px; float: left">&nbsp; &nbsp;or login <a href="/login">here</a></p>
      <br>
      <br>
    </form>

  </div>
</div>